.top-stories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 1rem;
}

.story-container {
  border: 1px solid black;
  border-radius: 3px;
  height: 13rem;
  text-align: center;
  padding: 5px;
}

.abstract {
  height: 3.6rem;
  overflow: hidden;
}

.headline {
  font-size: 1rem;
  margin: none;
  height: 3.6rem;
  overflow: hidden;
}

.details-btn {
  cursor: pointer;
  background-color: #DDDDDD;
  border: none;
  padding: 5px;
  border-radius: 3px;
  width: 75%;
}

@media (min-width: 400px) {
  .top-stories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .top-stories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .top-stories {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .top-stories {
    grid-template-columns: repeat(5, 1fr);
  }
}